@charset "utf-8";
/* CSS Document */

.picture {
    /* overflow: auto; */
   
    position: absolute;
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
}

.picture img{
	height: 354px;
    width: 1170px;
}

.cap {
    position: relative;
}

h1 {
    color: white;
}

.jumbotron p {
    color: white;
    font-style: italic;
}